html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	letter-spacing: 0.05em;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.325em;
	vertical-align: baseline;
}
h2 {
	text-align: center;
	font-family: streamsterregular, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 3.5rem;
  }
  html {
	background-image: linear-gradient(90deg, #d7eefd, #fff4f4);
  }
  
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
.font-Audiowide {
	font-family: Audiowide-Regular, Arial, sans-serif !important;
}
@font-face {
	font-family: "Audiowide-Regular";
	src: url("@/assets/fonts/Audiowide-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
  }

html {
    height: 100%;
	overflow: hidden;
	width: 100%;
}

body {
	line-height: 1;
	height: 100%;
    overflow: hidden;	
	min-height: 100%;
	width: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#app {
	height: 100%;
}
.zIndex15 {
	 z-index: 15 !important;
} 
.zIndex10 {
	z-index: 10 !important;
}
.zIndex5  {
	z-index: 5 !important;
}
.zIndex1 {
	z-index: 1 !important;
}
h1 {
	padding: 1rem;
	font-size: 2rem;
}
button {
	background-color: #ffffff; /* Hintergrundfarbe des Buttons */
	border: none; 
	color: #000000; /* Schriftfarbe */
	padding: 8px 12px; /* Innenabstand */
	border-radius: 4px; /* Abgerundete Ecken */
	font-size: 16px; /* Schriftgröße */
	transition: all 0.2s ease-in-out; /* Animationsdauer und Übergangseffekt */
  }
  
button:hover {
	background-color: #509ae9; /* Hintergrundfarbe beim Überfahren mit der Maus */
	cursor: pointer; /* Mauszeiger ändern */
}

:root {
	--screenWidth: 1440px;
	--desktopWidth: 1024px;
  }